body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

header {
    padding-top: 400px;
}

/*
.nav-wrapper {
    padding-bottom: 5em;
}
*/

.navbar-logo {
    height: 60px;
    width: auto;
}

@media (max-width: 600px) {
    .navbar-logo {
        height: 50px;
        width: auto;
    }
}

.navbar-menu {
    padding-right: 16px;
    /* border-radius: 50%; */
}